:root { /*주요 색상 변수 선언*/
  --accent-color: #f3ff87;
  --text-color: #f0f4f5;
  --background-color: #0b002b;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.nav_logo {
    font-size: 24px;
    color: var(--text-color);
}
  
.nav_logo i {
    color: var(--accent-color);
}

.nav_logo span {
    color: var(--accent-color);
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav_menu li {
    padding: 8px 12px;
}

.nav_menu li:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}

.nav_menu li a:hover {
    color: var(--background-color);
}

.nav_icons {
    display: flex;
    color: #7dc0ff;
    list-style: none;
    padding-left: 0;
}

.nav_icons li {
    padding: 8px 5px;
}

.navbar_toggleBtn {
    display: none;
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
}