:root { /*주요 색상 변수 선언*/
  --accent-color: #007bff;
  --text-color: #000000;
  --background-color: #ffffff;
  --sub-color: #f7f7f7;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--sub-color);
  height: 100%;
}

#wrap{
    height : auto;
    min-height: 100%;
    padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-radius: 8px;
    margin: 20px 20px 20px 20px;
    height: 75px;
    overflow: hidden;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 10px;
}

.nav_menu li {
    padding: 8px 12px;
}

.nav_menu li:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}

.nav_menu li a:hover {
    color: var(--background-color);
}

.nav_icons {
    display: flex;
    color: #7dc0ff;
    list-style: none;
    padding-left: 0;
}

.nav_icons li {
    padding: 8px 5px;
}

.navbar_toggleBtn {
    display: none;
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.ex_stat{
    float: left;
    padding: 8px 12px;
    background-color: var(--background-color);
    margin: 20px;
    border-radius: 8px;
}

footer{
    height: 80px;
    position : relative;
    transform : translateY(-100%);
    text-align: center;
}

.center_section{
    display: flex;
    justify-content: center;
}