body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  background-image: url("../images/background_image.png");
  background-size: cover;
  background-attachment: fixed;
}

#wrap {
  height: auto;
  min-height: 100vh;
  padding-bottom: 80px;
}

.profile {
  max-width: 480px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

.profile img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 7px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile button:hover {
  background-color: #0056b3;
}

.friend-management {
  max-width: 480px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.friend-management h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.settings {
  max-width: 480px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}

.settings a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.settings a:hover {
  text-decoration: underline;
}

.main {
  width: 250px;
  height: 350px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin-top: 0px;
  margin-bottom: 40px;
}

#loginBtn {
  width: 60%;
  border-radius: 4px;
  background-color: #007bff;
  border-color: transparent;
  color: white;
  transform: translate(0%, 0%);
}

#signupBtn {
  width: 60%;
  border-radius: 4px;
  background-color: #007bff;
  border-color: transparent;
  color: white;
  transform: translate(0%, 0%);
}

#loginBtn:hover {
  background-color: #0056b3;
}


#signupBtn:hover {
  background-color: #0056b3;
}

#login:hover{
  background-color: #0056b3;
}

.card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}


#friend-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: inline-block;
}

#friend-button:hover {
  background-color: #0056b3;
}

#alert {
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    height: auto;
  }
  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
    right: 35px;
    top: 40px;
  }
  .nav_logo img {
    width: 60px;
    height: auto;
  }
}
