:root {
  /*주요 색상 변수 선언*/
  --accent-color: #007bff;
  --text-color: #000000;
  --background-color: #ffffff;
  --sub-color: #f7f7f7;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--sub-color);
  width: 100%;
  height: 100%;
  background-image: url("../images/background_image.png");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#wrap {
  height: auto;
  min-height: 100vh;
  padding-bottom: 80px;
}

.ex_stat {
  padding: 8px 12px;
  background-color: var(--background-color);
  border-radius: 8px;
  margin: 20px auto;
}

.ex_today {
  margin: 20px;
  width: 400px;
  height: 100px;
  border: none;
  color: var(--background-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  font-size: 20px;
  display: inline-block;
}

.ex_today:hover {
  background-color: #005bbd;
  transition: 0.5s;
}

footer {
  height: 80px;
  position: relative;
  transform: translateY(-100%);
  text-align: center;
}

.center_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.lib_header {
  padding: 20px;
}
