:root {
    /*주요 색상 변수 선언*/
    --accent-color: #007bff;
    --text-color: #000000;
    --background-color: #ffffff;
    --sub-color: #f7f7f7;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


body {
    background-image: url("../image/background_image.png");
    background-size: cover;
    background-attachment: fixed;
}

#calendarBox{
    display: block;
    background-color: var(--background-color);
    width: 90%;
    padding: 5% 5%;
    max-width: 100%;
    margin: 14px;
    border-radius: 12px;
    text-align: center;
    transition: top 0.5s ease;
}

#schedulModal_dateTime {
    margin-top: 5px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

#scheduleModal_dateTime span {
    margin: 2px 0;
}

#scheduleModal_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#scheduleModal_header .btn-close {
    align-self: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    padding: 0.9rem 0.8rem; /* 버튼 패딩 조절 */
}

footer {
    height: 80px;
    width: 100%;
    text-align: center;
    margin: 63px 25px 0px 0px;
}

@media screen and (max-width: 768px) {
    #calendarBox{
        width: 94%;
        padding: 15px 10px;
        max-width: none;
        text-align: center;
        padding-top: 10px;
    }
    .fc-event-title {
        font-size: 10px; /* obj 객체 크기 조절 */
    }
    .btn {
        padding: 0.5rem 0.35rem; /* 모바일 버튼 패딩 조절 */
        font-size: 0.9rem; /* 모바일 버튼 크기 조절 */
    }
    
}